body {

    margin: 0;
    font-family: Arial;
    color: white;

    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;

}

.container {

    width: 80%;
    margin: auto;
    margin-top: 80px;

    background: rgba(0,0,20,0.7);
    padding: 20px;
    border-radius: 10px;

}

h1 {

    text-align: center;
    margin-bottom: 20px;

}

table {

    width: 100%;
    border-collapse: collapse;

}

th {

    background: #0a2a6b;
    padding: 12px;

}

td {

    padding: 10px;
    text-align: center;
}

tr {

    border-bottom: 1px solid rgba(255,255,255,0.2);

}

tr:hover {

    background: rgba(0,150,255,0.2);

}